<div class="container-fluid">
  <div class="row">
  	<h2 class="center margin_top">パスワード変更</h2>
	<div class="col-md-3 col-sm-3"></div>

	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="row">
			<%= form_for(@user, url: users_password_forget_update_path(params[:id]) ) do |f| %>
			<div class="col-md-1 col-sm-1"></div>
			<div class="col-md-10 col-sm-10">
				<div class="form-group">
					<label>新しいパスワード</label>
					<%= f.password_field :password, placeholder: "半角６文字以上", class: "form-control"  %>
				</div>
				<div class="form-group">
					<label>新しいパスワード確認</label>
					<%= f.password_field :password_confirmation, class: "form-control"  %>
				</div>

			</div>
			<div class="col-md-1 col-sm-1"></div>

			<div class="form-group row">
				<%= f.submit "パスワード変更", class: "btn btn-info margin_top" %>
			</div>
			<%end%>
		</div>
	</div>

	<div class="col-md-3 col-sm-3"></div>

  </div>
</div>