/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";

/*======全体で使うもの======*/

*{
	margin:0;
	padding:0;
	font-family: 'ヒラギノ丸ゴ ProN W4', Hiragino Maru Gothic ProN;
}

a:hover{
	text-decoration: none;
}

li{
	list-style-type: none;
	margin: 10px auto;
}

html {
    height: 100%;
    width: 100%;
    background-color: #000;
}

body{
	height: 100%;
	background-color: #ffdd00;
}

.center{
	text-align: center;
}

.margin_top{
	margin: 25px 0;
}
.margin_right{
	margin: 0 10px 0 0;
}

.header_top{
	width: 100%;
	height: 20px;
	background-color: #ffdd00;
}

.footer_top{
	width: 100%;
	height: 100px;
	background-color: #ffdd00;
}

.row{
	padding:0;
	margin:0;
	background-color: #ffdd00;
}
.float{
	float:left;
}

ul li{
	padding:0;
	margin :0;
}

checkbox{
	margin: 10px auto;
	height: 10px;
	width: 10px;
}

/*======フォーム======*/

label{
	width: 200px;
}
.form-group{
	text-align: center;
}
select{
	width: 200px;
	height: 30px;
}

/*======ヘッダー用======*/

header{
	height: 70px;
	width: 100%;
	position: relative;
	background-color: #000;
}

.header_log{
	height: 60px;
	width: 75px;
	margin: 5px 30px ;
}
.header_log:hover{
	background-color: #7f7f7f;
}
.header ul{
	height: 70px;
	float: right;
	padding: 0;
	margin: 0;
}
.header li{
	display: inline-block;
	margin: 25px 30px;
}
.header a{
	color: #fff;
	font-size: 15px;
}
.header a:hover{
	color: #7f7f7f;
}

/*======フッター用======*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
    text-align: center;
}
.ask_form{
	margin-top: 20px;
	color: #fff;
}
small{
	color: #fff;
	margin-top: 20px;
	display: inline-block;
}

/*========チュートリアル用==========*/

.how_to, .how_to2, .how_to3, .how_to4{
	z-index: 100;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	border-radius: 5px;
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}
.s_how_to, .s_how_to2, .s_how_to3, .s_how_to4, .s_how_to5, .s_how_to6{
	z-index: 100;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	border-radius: 5px;
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}
.how_to_text{
	position: absolute;
  	top: 10%;
 	left: 20%;
}
.how_to h1, .how_to2 h1, .how_to3 h1, .how_to4 h1{
	background-color: #000;
	color: #fff;
	font-family: Impact;
	text-align: center;
}
.s_how_to h1, .s_how_to2 h1, .s_how_to3 h1, .s_how_to4 h1, .s_how_to5 h1, .s_how_to6 h1{
	background-color: #000;
	color: #fff;
	font-family: Impact;
	text-align: center;
}
.how_to_text h2{
	width: 80%;
	background-color: #000;
	color: #fff;
	border-radius: 5px;
	text-align: center;
}
.how_to_image{
	width: 80%;
	height: 80%;
}

/*======トップページ用======*/

.log{
	margin: 35% 20% 0 18%;
	padding: 0;
}
.log_text{
	font-size: 50px;
	text-align: center;
	margin: 50px 0 30px 0;
	padding: 0;
}
.top_link{
	margin-top: 40px;
	text-align: center;
	font-size: 30px;
	color: #7f7f7f;
	background-color: #ffdd00;
}
.top_link:hover{
	color: #656565;
}

/*======ユーザー詳細、編集用=======*/

.show-back{
	background-color: #000;
	border-radius: 5px;
	height: 100%;
}
.show_image{
	height: 500px;
	width: 500px;
}
.show_link{
	color: #FFF;
	font-size: 17px;
}
.show_link a{
	text-decoration: underline;
}
.user_edit_box{
	background: rgba(0,0,0,0.2);
  	border-radius: 5px;
}
.user_show_box{
	background: rgba(0,0,0,0.2);
  	border-radius: 5px;
  	height: 500px;
}
.show_text{
	width: 100%;
	height: 200px;
	margin: 10px auto 30px auto;
	background: rgba(255,255,255,0.2);
}

/*======曲新規投稿用======*/

.sound_text{
	width: 90%;
	height: 200px;
	margin: 10px 0;
	background: rgba(255,255,255,0.2);
}
.li_link{
	font-size: 18px;
	margin: 20px auto;
	color: #002698;
	font-family: Impact;
}

/*======お気に入り用======*/

.like_index_box{
	background: rgba(0,0,0,0.2);
  	border-radius: 5px;
}
.like_image{
	height: 260px;
	width: 260px;
}
.like_box{
	height: 270px;
	width: 260px;
	margin: 10px;
	text-align: center;
	float: left;
}
.like_box a{
	color: #7f7f7f;
}

/*======コメント機能用======*/

.comment_image{
	height: 100px;
	width: 100px;
}
.margin{
	margin: 10px 0;
}
.comment_btn{
	margin: 50px 0;
}

/*======曲一覧======*/

.index_box{
	height: 330px;
	width: 270px;
	margin: 10px;
	text-align: center;
	float: left;
}
.index_box ul{
	background: rgba(0,0,0,0.5);
	width: 260px;
	margin: 0 auto;
}
.index_box ul li{
	color: #FFF;
	font-family: Georgia;
}

/*========検索フォーム用==========*/
.search_top{
	width: 100%;
	height: 150px;
	background-color: #ffdd00;
}
.search-control{
	width: 300px;
	height: 30px;
	margin :10px 20%;
}
.user_search-control{
	width: 300px;
	height: 30px;
	margin :10px 10px 10px 20%;
}

