/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";

/*======全体で使うもの======*/

*{
	margin:0;
	padding:0;
	font-family: 'ヒラギノ丸ゴ ProN W4', Hiragino Maru Gothic ProN;
}

a:hover{
	text-decoration: none;
}

li{
	list-style-type: none;
	margin: 10px auto;
}

html {
    height: 100%;
    width: 100%;
    background-color: #000;
}

body{
	height: 100%;
	background-color: #ffdd00;
}

.center{
	text-align: center;
}

.margin_top{
	margin: 25px auto;
}
.margin_right{
	margin: 0 10px 0 0;
}

.header_top{
	width: 100%;
	height: 20px;
	background-color: #ffdd00;
}
.header_margin{
	display: block;
	height:50px;
}
.footer_top{
	width: 100%;
	height: 100px;
	background-color: #ffdd00;
}

.row{
	padding:0;
	margin:0;
	background-color: #ffdd00;
}
.float{
	float:left;
}

ul li{
	padding:0;
	margin :0;
}

checkbox{
	margin: 10px auto;
	height: 10px;
	width: 10px;
}

p a{
	color: #002698;
	font-family: Impact;
	display: block;
}
.alert{
	margin-top: 20px;
	margin-bottom: 0;
}

/*======フォーム======*/

label{
	width: 200px;
}
.form-group{
	text-align: center;
	margin: 10 auto;
}
.form-control{
	width: 80%;
	margin: 10px auto;
}
select{
	width: 200px;
	height: 30px;
}

/*======ヘッダー用======*/

header{
	height: 70px;
	width: 100%;
	position: relative;
	background-color: #000;
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
header span{
	display: none;
}
.menu{
	display: none;
}
header1{
	height: 70px;
	width: 100%;
	position: relative;
	background-color: #000;
}

.header_log{
	height: 60px;
	width: 75px;
	margin: 5px 30px ;
}
.header_log:hover{
	background-color: #7f7f7f;
}
.header ul{
	height: 70px;
	float: right;
	padding: 0;
	margin: 0;
}
.header li{
	display: inline-block;
	margin: 25px 30px;
}
.header a{
	color: #fff;
	font-size: 15px;
}
.header a:hover{
	color: #7f7f7f;
}

/*======フッター用======*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
    text-align: center;
}
.ask_form{
	margin-top: 20px;
	color: #fff;
}
small{
	color: #fff;
	margin-top: 20px;
	display: inline-block;
}

/*========チュートリアル用==========*/

.how_to, .how_to2, .how_to3, .how_to4{
	z-index: 100;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	border-radius: 5px;
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: scroll;
}
.s_how_to, .s_how_to2, .s_how_to3, .s_how_to4, .s_how_to5, .s_how_to6{
	z-index: 100;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	border-radius: 5px;
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}
.how_to_text{
	position: absolute;
  	top: 10%;
 	left: 5%;
 	width: 90%;
 	height: 90%;
}

.how_to h1, .how_to2 h1, .how_to3 h1, .how_to4 h1{
	background-color: #000;
	color: #fff;
	font-family: Impact;
	text-align: center;
}
.s_how_to h1, .s_how_to2 h1, .s_how_to3 h1, .s_how_to4 h1, .s_how_to5 h1, .s_how_to6 h1{
	background-color: #000;
	color: #fff;
	font-family: Impact;
	text-align: center;
}
.how_to_text h2{
	width: 95%;
	background-color: #000;
	color: #CCC;
	text-align: center;
	font-size: 20px;
	margin: 0;
}
.how_to_image{
	width: 95%;
	height: 80%;
}

/*======トップページ用======*/

.log{
	margin-top: 10%;
	text-align:center;
	padding: 0;
}
.log_image{
	width: 90%;
	height: 90%;
	margin: auto 5% auto 5%;
}
.log_text{
	font-size: 50px;
	text-align: center;
	margin: 50px 0 30px 0;
	padding: 0;
}
.top_link{
	margin-top: 40px;
	text-align: center;
	font-size: 30px;
	color: #7f7f7f;
	background-color: #ffdd00;
}
.top_link:hover{
	color: #656565;
}

/*======ユーザー詳細、編集用=======*/

.show-back{
	background-color: #000;
	border-radius: 5px;
	height: 100%;
}
.show_image{
	height: 100%;
	width: 100%;
}
.show_link{
	color: #FFF;
	font-size: 17px;
}
.show_link a{
	text-decoration: underline;
}
.user_edit_box{
	background: rgba(0,0,0,0.2);
  	border-radius: 5px;
}
.user_edit_box2{
	background: rgba(0,0,0,0.2);
  	border-radius: 5px;
}
.user_show_box{
	background: rgba(0,0,0,0.2);
  	border-radius: 5px;
  	height: 500px;
}

.show_text{
	width: 100%;
	height: 200px;
	margin: 10px auto 30px auto;
	background: rgba(255,255,255,0.2);
}
.iframe{
	width: 100%;
	height: 140px;
}

/*======曲新規投稿用======*/

.sound_text{
	width: 90%;
	height: 200px;
	margin: 10px 0;
	background: rgba(255,255,255,0.2);
}
.li_margin{
	margin: 18px auto;
}
.li_link{
	font-size: 18px;
	color: #002698;
	font-family: Impact;
}

/*======お気に入り用======*/

.like_index_box{
	background: rgba(0,0,0,0.2);
  	border-radius: 5px;
}
.like_box ul{
	background: rgba(0,0,0,0.5);
	width: 100%;
	margin: 0 auto;
}
.like_box ul li{
	color: #FFF;
	font-family: Georgia;
}
.like_image{
	height: 70%;
	width: 100%;
}

.like_index_a a:nth-child(1){
	font-family: Impact;color: #000;
	margin: auto 10px;
}
.like_index_a a:nth-child(2){
	font-family: Impact;color: #FFF
}
.like_index_a a:hover:nth-child(2){
	background: rgba(0,0,0,0.5);
	cursor : pointer;
}
.like_user{
	display: none;
}

/*======コメント機能用======*/

.comment_image{
	height: 120px;
	width: 100%;
}
.comment_box{
	height: 140px;
	width: 120px;
}
.comment_box ul{
	background: rgba(0,0,0,0.5);
	width: 120px;
	margin: 0 auto;
	text-align: center;
}
.comment_box ul li{
	color: #FFF;
	font-family: Georgia;
}
.margin{
	margin: 10px 0;
}
.margin1{
	margin: 10px;
}
.comment_btn{
	margin: 50px 0;
}

/*======曲一覧======*/

.index_box{
	height: 330px;
	width: 22%;
	margin: 1% 1.5% 0 1.5%;
	text-align: center;
	float: left;
	padding: 0;
}
.index_box ul{
	background: rgba(0,0,0,0.5);
	width: 100%;
	margin: 0 auto;
}
.index_box ul li{
	color: #FFF;
	font-family: Georgia;
}
.like_index_box .btn{
	margin: 5px auto;
}

/*========検索フォーム用==========*/
.search_top{
	width: 100%;
	height: 150px;
	background-color: #ffdd00;
	text-align: center;
}
.user_search_top{
	width: 100%;
	height: 100px;
	background-color: #ffdd00;
	text-align: center;
}
.search-control{
	width: 300px;
	height: 30px;
}
.user_search-control{
	width: 300px;
	height: 30px;
}
.search_top1{
	margin: 15px;
}

/*=============タブレット横用=================*/
@media screen and (max-width:1024px) {
	.log_image{
		width: 90%;
		height: 90%;
		margin: auto 5% auto 5%;
	}
	.log_text{
		font-size: 30px;
		text-align: center;
		margin: 50px 0 30px 0;
		padding: 0;
	}
	.how_to h1, .how_to2 h1, .how_to3 h1, .how_to4 h1{
		font-size: 20px;
	}
	.how_to_text h2{
		font-size: 15px;
	}
	.header li{
		display: inline-block;
		margin: 25px 15px;
	}
	.top_link{
		margin-top: 40px;
		text-align: center;
		font-size: 20px;
		color: #7f7f7f;
		background-color: #ffdd00;
	}
	footer a{
		font-size: 10px;
	}
	.index_box{
		height: 300px;
		width: 30%;
		text-align: center;
		float: left;
	}
	.index_box ul{
		background: rgba(0,0,0,0.5);
		width: 100%;
		margin: 0 auto;
	}
	.index_box ul li{
		font-size: 12px;
	}
	.like_image{
		height: 70%;
		width: 100%;
	}
	.like_image1{
		height: 70%;
		width: 100%;
	}
	.like_box{
		height: 300px;
		width: 47%;
		margin: 1.1%;
		text-align: center;
		float: left;
	}

	.search_top{
		width: 100%;
		height: 200px;
		background-color: #ffdd00;
	}
	.search-control{
		width: 200px;
		height: 30px;
	}
	.user_search-control{
		width: 200px;
		height: 30px;
	}
	.search_top label{
		width: 150px;
	}
	select{
		width: 160px;
		height: 30px;
	}
	.show_link{
		color: #FFF;
		font-size: 17px;
	}
	.user_show_box{
		background: rgba(0,0,0,0.2);
	  	border-radius: 5px;
	  	height: 400px;
	}
	.li_margin{
		margin: 0px;
	}
	.li_link{
		font-size: 18px;
		color: #002698;
		font-family: Impact;
	}
	.show_text{
		width: 100%;
		height: 150px;
		margin: 10px auto 30px auto;
		background: rgba(255,255,255,0.2);
	}
	.sound_text{
		width: 100%;
		height: 150px;
		margin: 10px 0;
		background: rgba(255,255,255,0.2);
	}
	.show-back{
		border-radius: 0px;
	}
}

/*=============タブレット縦用=================*/
@media screen and (max-width:770px) {
.header1{
	display: none;
}
.header_log{
	float: right;
}
header span{
	display: inline-block;
}
.fas{
	display: inline-block;
	font-size: 40px;
	color: #FFD;
	padding: 8px 10px 10px 10px;
}
.header button{
	background-color:#000;
	border: none;
	height: 70px;
	outline:none;
}
.fas2{
	display: none;
}
.menu{
	display: none;
	z-index: 100;
	background: rgba(0,0,0,0.8);
	width: 50%;
	height: 280px;
	position: fixed;
	top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
}
.menu ul{
	width: 100%;
}
.menu ul a{
	font-size: 20px;
	text-align: center;
	color: #fff;
	border: #FFF;
}
.menu li{
	display: block;
	font-size: 20px;
	text-align: center;
	color: #fff;
	margin: 10px auto;
	border:1px solid #000;
}
header{
	z-index:100;
}
.top_link{
	margin-top: 20px;
}
.login_margin{
	margin: 8% 0 0 30%;
}

.show_link{
	color: #FFF;
	font-size: 15px;
}
.user_show_box{
	background: rgba(0,0,0,0.2);
  	border-radius: 5px;
  	height: 350px;
}
.show_text{
	width: 100%;
	height: 130px;
	margin: 10px auto 20px auto;
	background: rgba(255,255,255,0.2);
}
.search_top{
	height: 250px;
}
.search_top label{
	display: block;
	margin: 0 auto;
}
}




/*=============タブレット縦用=================*/
@media screen and (max-width:460px) {
	.header1{
	display: none;
}
.header_log{
	float: right;
}
.fas{
	display: inline-block;
	font-size: 40px;
	color: #FFD;
	padding: 8px 10px 10px 10px;
}
.header button{
	background-color:#000;
	border: none;
	height: 70px;
	outline:none;
}
.fas2{
	display: none;
}
.menu{
	display: none;
	z-index: 100;
	background: rgba(0,0,0,0.8);
	width: 50%;
	height: 280px;
	position: fixed;
	top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
}
.menu ul{
	width: 100%;
}
.menu ul a{
	font-size: 20px;
	text-align: center;
	color: #fff;
	border: #FFF;
}
.menu li{
	display: block;
	font-size: 20px;
	text-align: center;
	color: #fff;
	margin: 10px auto;
	border:1px solid #000;
}
header{
	z-index:100;
}
.log_text{
	font-size: 20px;
	text-align: center;
	margin: 50px 0 30px 0;
	padding: 0;
}
.comment_image{
	height: 80px;
	width: 100%;
}
.comment_box{
	height: 100px;
	width: 80px;
}
.comment_box ul{
	background: rgba(0,0,0,0.5);
	width: 80px;
	margin: 0 auto;
	text-align: center;
}
.show_link{
	color: #FFF;
	font-size: 8px;
}
.show_link .btn{
	font-size: 5px;
}
.menu{
	height: 250px;
}
.menu ul a{
	font-size: 15px;

}
.menu li{
	display: block;
	font-size: 15px;
}
.like_index_box .btn{
	font-size: 5px;
	width: 90px;
}
.index_box{
	width: 45%;
	height: 240px;
}
}
























