/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";

*{
	margin:0;
	padding:0;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

li{
	list-style-type: none;
	margin: 10px auto;
}

html {
    height: 100%;
    width: 100%;
    background-color: #000;
}

body{
	height: 100%;
	background-color: #ffdd00;
}

header{
	height: 70px;
	width: 100%;
	position: relative;
	background-color: #000;
}

.header_log{
	height: 60px;
	width: 75px;
	margin: 5px 30px ;
}
.header_log:hover{
	background-color: #7f7f7f;
}


.header ul{
	height: 70px;
	float: right;
	padding: 0;
	margin: 0;
}
.header li{
	display: inline-block;
	margin: 25px 30px;
}
.header a{
	color: #fff;
	font-size: 15px;
}
.header a:hover{
	color: #7f7f7f;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
    text-align: center;
}

.ask_form{
	margin-top: 20px;
	color: #fff;
}

small{
	color: #fff;
	margin-top: 20px;
	display: inline-block;
}

.center{
	text-align: center;
}
.margin_top{
	margin: 25px 0;
}

.log{
	margin: 10% 38% 0 40%;
	padding: 0;
}
.log_text{
	font-size: 50px;
	text-align: center;
	margin: 50px 0 10px 0;
	padding: 0;
}
.top_link{
	margin-top: 50px;
	text-align: center;
	font-size: 30px;
	color: #7f7f7f;
}
.top_link:hover{
	color: #656565;
}

.form-group{
	text-align: center;
}

.show-back{
	background-color: #000;
	border-radius: 5px;
	height: 100%;
}
.show_image{
	height: 500px;
	width: 500px;
}
.show_link{
	color: #FFF;
	font-size: 18px;
}

.header_top{
	width: 100%;
	height: 20px;
	background-color: #ffdd00;
}
.footer_top{
	width: 100%;
	height: 60px;
	background-color: #ffdd00;
}

.row{
	padding:0;
	margin:0;
	background-color: #ffdd00;
}


.user_edit_box{
	background: rgba(0,0,0,0.2);
  	border-radius: 5px;
}
.user_show_box{
	background: rgba(0,0,0,0.2);
  	border-radius: 5px;
  	height: 500px;
}
.show_text{
	width: 100%;
	height: 200px;
	margin: 10px auto;
	background: rgba(255,255,255,0.2);

}
.sound_text{
	width: 90%;
	height: 200px;
	margin: 10px 0;
	background: rgba(255,255,255,0.2);
}
.li_link{
	font-size: 18px;
	margin: 20px auto;
	color: #002698;
}
.like_index_box{
	background: rgba(0,0,0,0.2);
  	border-radius: 5px;
}

.like_image{
	height: 260px;
	width: 260px;
}
.like_box{
	height: 270px;
	width: 260px;
	margin: 10px;
	text-align: center;
	float: left;
}
.like_box a{
	color: #7f7f7f;

}

